body {
    background-color: #eee;
}

.neoputt-wrap {
    -moz-user-select: none;
    -webkit-user-select: none;
    background-position: center 8px;
    background-repeat: no-repeat;
    font-family: sans;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
}

.neoputt-header {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
                 1px 1px 0 #fff;
}

.neoputt-button, .neoputt-input {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #555;
    color: #000;
    height: 32px;
    line-height: 16px;
    margin: 2px 4px 2px 4px;
    opacity: 0.8;
    padding: 2px 4px 2px 4px;
}

.neoputt-button::-moz-focus-inner {
    border: 0;
}

.neoputt-button:hover, .neoputt-button:focus, .neoputt-button-f {
    border-color: #000;
    cursor: pointer;
    opacity: 1;
    outline: none;
    z-index: 9999;
}

.neoputt-button:hover, .neoputt-tile:hover {
    transform: scale(1.1);
}

.neoputt-input {
    width: 128px;
    height: 28px;
}

.neoputt-small, .neoputt-map-name {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
                 1px 1px 0 #000;
}

.neoputt-field {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.neoputt-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    border: 1px solid #555;
    overflow-y: scroll;
    margin: 4px;
}

.neoputt-map {
    background-color: #0b0;
    border: 1px solid #000;
    display: inline-block;
    height: 88px;
    line-height: 88px;
    margin: 4px;
    opacity: 0.5;
    text-align: center;
    width: 120px;
    padding: 0 4px 0 4px;
}

.neoputt-map:hover {
    cursor: pointer;
    opacity: 1;
}

.neoputt-map-name {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.neoputt-map-delete {
}

.neoputt-edit-back {
    bottom: 8px;
    height: 48px;
    position: absolute;
    right: 9px;
}

.neoputt-edit-test {
    bottom: 8px;
    height: 48px;
    left: 9px;
    position: absolute;
}

.neoputt-toolbox {
    background-color: #ddd;
    border: 1px solid transparent;
    margin-bottom: 1px;
    overflow-y: hidden;
    padding: 1px;
    text-align: left;
}

.neoputt-tools {
    float: left;
}

.neoputt-tiles {
    background-color: #bbb;
    float: right;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
}

.neoputt-tile {
    display: inline-block;
    margin: 4px;
    outline: 1px solid #555;
}

.neoputt-tile:hover {
    cursor: pointer;
    outline-color: #000;
}

.neoputt-editor {
    cursor: crosshair;
    margin-top: 1px;
}

.neoputt-clear {
    clear: both;
}
