body {
    background-color: #eee;
}

.neoputt-wrap {
    -moz-user-select: none;
    -webkit-user-select: none;
    background-position: center 8px;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    user-select: none;
}

.neoputt-header {
    margin: 0;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    z-index: 9999;
}

.neoputt-button, .neoputt-input {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #555;
    color: #000;
    height: 32px;
    line-height: 16px;
    margin: 2px 4px 2px 4px;
    opacity: 0.8;
    padding: 2px 4px 2px 4px;
}

.neoputt-button::-moz-focus-inner {
    border: 0;
}

.neoputt-button:hover, .neoputt-button:focus, .neoputt-button-f {
    border-color: #000;
    cursor: pointer;
    opacity: 1;
    outline: none;
    z-index: 9998;
}

.neoputt-button:hover, .neoputt-button:focus, .neoputt-tile:hover {
    transform: scale(1.1);
}

.neoputt-button:disabled, .neoputt-input:disabled {
    border-color: #555;
    color: #555;
    cursor: not-allowed;
    opacity: 0.5;
    transform: scale(0.9);
}

.neoputt-input {
    width: 128px;
    height: 26px;
}

.neoputt-small, .neoputt-map-name {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
                 1px 1px 0 #000;
}

.neoputt-field, .neoputt-map {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.neoputt-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    border: 1px solid #555;
    overflow-y: auto;
    margin: 2px;
    padding: 2px;
}

.neoputt-map {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    height: 88px;
    line-height: 88px;
    margin: 4px;
    opacity: 0.5;
    padding: 0 4px 0 4px;
    position: relative;
    text-align: center;
    transition: linear transform 0.1s;
}

.neoputt-map:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

.neoputt-map-name {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    width: inherit;
    word-wrap: break-word;
}

.neoputt-map-del {
    bottom: 12px;
    line-height: 16px;
    position: absolute;
    right: 8px;
    font-size: 16px;
}

.neoputt-edit-coords {
    left: 4px;
    position: absolute;
}

.neoputt-edit-back {
    bottom: 8px;
    height: auto;
    position: absolute;
    right: 9px;
}

.neoputt-edit-test {
    bottom: 8px;
    height: auto;
    left: 9px;
    position: absolute;
}

.neoputt-toolbox {
    background-color: #ddd;
    border: 1px solid transparent;
    margin-bottom: 1px;
    overflow-y: hidden;
    padding: 1px;
    text-align: left;
}

.neoputt-tools {
    float: left;
}

.neoputt-tiles {
    background-color: #bbb;
    float: right;
    height: 100%;
    overflow-y: scroll;
    padding: 4px 0 -4px 0;
    text-align: center;
}

.neoputt-tile {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    margin: 6px;
}

.neoputt-tile:hover, .neoputt-tile-f {
    cursor: pointer;
    outline: 1px dashed #000;
    transform: scale(1.2);
}

.neoputt-editor {
    cursor: crosshair;
    margin-top: 1px;
    z-index: 9999;
}

.neoputt-clear {
    clear: both;
}

.neoputt-link {
    color: #fff;
}

.neoputt-link:hover, .neoputt-link:focus {
    font-size: 14px;
}

.neoputt-table-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    border: 1px solid #000;
    margin: 4px;
    overflow-y: scroll;
}

.neoputt-table {
    width: 100%;
}

.neoputt-table tr:hover {
    background-color: #fff;
    cursor: pointer;
}

.neoputt-label {
    cursor: pointer;
    font-weight: bold;
    margin: 4px;
}

.neoputt-form-input {
    margin: 4px;
}

.neoputt-chat-input {
    left: 0;
    position: absolute;
}
